@model iGrow.Web.ViewModels.Admin.RecurringType.RecurringTypeDeleteViewModel

@{
    ViewData["Title"] = "Delete Recurring Type";
}

<div class="container">
    <div class="card shadow-sm col-md-6 mx-auto">
        <div class="card-header">
            <h4 class="mb-0">@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <div>
                <p>Are you sure you want to delete "@Model.Name"?</p>
            </div>
            
            <form asp-area="Admin" asp-controller="RecurringTypes" asp-action="ConfirmDelete" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-area="Admin" asp-action="All" asp-controller="RecurringTypes" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
