@{
    ViewData["Title"] = "400 Bad Request";
}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/css/errorStyle.css" />
<body>
    <div id="badrequest">
        <div class="badrequest">
            <div class="badrequest-400">
                <h1>Oops!</h1>
            </div>
            <p>The request could not be understood by the application. Please check the URL or try again.</p>
            <a asp-controller="Home" asp-action="Index">Go To Homepage</a>
        </div>
    </div>
</body>