@model iGrow.Web.ViewModels.Admin.Amount.AmountFormViewModel

@{
    ViewData["Title"] = "Create Amount";
}

<div class="container">
    <div class="card shadow-sm col-md-6 mx-auto">
        <div class="card-header">
            <h4 class="mb-0">@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-controller="Amounts" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="Admin" asp-action="All" asp-controller="Amounts" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>
