@model iGrow.Web.ViewModels.Admin.Category.CategoryFormViewModel

@{
    ViewData["Title"] = "Create Category";
}

<div class="container">
    <div class="card shadow-sm col-md-6 mx-auto">
        <div class="card-header">
            <h4 class="mb-0">@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-controller="Categories" asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Icon</label>
                    <input type="file" name="Icon" accept="image/*" class="form-control"/>
                    <small class="form-text text-muted">Allowed: .png, .jpg, .jpeg, .gif — max 2 MB</small>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="Admin" asp-action="All" asp-controller="Categories" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>