@using iGrow.GCommon
@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header header-filter" data-parallax="true" style="background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                 url('/images/background.jpg') center/cover no-repeat;
                 height: 100vh; border-radius: 12px;">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="display-4 text-white">Welcome to @ApplicationConstants.SystemName!</h1>
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <h3 class="title text-center text-white">Track your habits and tasks.</h3>
                }
                else
                {
                    <h3 class="title text-center text-white"><a class="text-white" style="display:inline-block; text-decoration: underline;" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="text-white" style="display:inline-block; text-decoration: underline;" asp-area="Identity" asp-page="/Account/Register">Register</a> and let's get started!</h3>
                }
            </div>
        </div>
    </div>
</div>
